@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-clash-display: "Clash Display", sans-serif;
}

/* Set Satoshi as the default font for paragraphs and buttons */
body,
p,
button,
input,
textarea {
  font-family: var(--font-satoshi), sans-serif;
}

/* Set Clash Display as the font for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-clash-display), serif;
}

.hoverable {
  cursor: none; /* Hides the default browser cursor */
}

/*/////////////////////////////////////////*/
/* Nav Links Setting */
/*/////////////////////////////////////////*/
.active,
.not_Active {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  border-bottom: 2px solid #34d399;
  transform: translateX(-50%);
}

.not_Active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  border-bottom: 2px solid #ef4444;
  transform: translateX(-50%);
  transition: 0.5s ease-in;
}

.not_Active:hover:after {
  left: 25%;
  width: 50%;
}
/* Mobile Nav Links */
.activeMob,
.not_ActiveMob {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.activeMob::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 80%;
  border-bottom: 2px solid #34d399;
  transform: translateX(-50%);
}

.not_ActiveMob::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  border-bottom: 2px solid #ef4444;
  transform: translateX(-50%);
  transition: 0.5s ease-in;
}

.not_ActiveMob:hover:after {
  width: 80%;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 248, 34%, 22%; /* Dark Primary */
    --card: 0 0% 100%; /* White */
    --card-foreground: 224 71.4% 4.1%; /* Card Foreground */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 224 71.4% 4.1%; /* Popover Foreground */
    --primary: 248, 19%, 34%; /* Primary */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 255, 35%, 93%; /* Border Gray */
    --secondary-foreground: 248, 34%, 22%; /* Dark Primary */
    --muted: 220 14.3% 95.9%; /* Muted */
    --muted-foreground: 220 8.9% 46.1%; /* Muted Foreground */

    --accent: 220 14.3% 95.9%; /* Accent */
    --accent-foreground: 220.9 39.3% 11%; /* Accent Foreground */
    --destructive: 0 84.2% 60.2%; /* Destructive */
    --destructive-foreground: 210 20% 98%; /* White */
    --border: 220 13% 91%; /* Border */
    --input: 220 13% 91%; /* Input */
    --ring: 262.1 83.3% 57.8%; /* Ring */
    --radius: 0.5rem; /* Radius */
    --chart-1: 248, 34%, 22%; /* Dark Primary (2A254B) */
    --chart-2: 248, 19%, 34%; /* Primary (4E4D93) */
    --chart-3: 252, 21%, 82%; /* Dark Border */
    --chart-4: 255, 35%, 93%; /* Border Gray (EBE8F4) */
    --chart-5: 241, 31%, 44%; /* 2nd Primary */
  }

  .dark {
    --background: 248, 34%, 22%; /* Dark Background */
    --foreground: 0 0% 100%; /* Light Foreground */
    --card: 224 71.4% 4.1%; /* Dark Card */
    --card-foreground: 210 20% 98%; /* Light Card Foreground */
    --popover: 224 71.4% 4.1%; /* Dark Popover */
    --popover-foreground: 210 20% 98%; /* Light Popover Foreground */
    --primary: 248, 19%, 34%; /* Primary */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 255, 35%, 93%; /* Border Gray */
    --secondary-foreground: 248, 34%, 22%; /* Dark Primary */
    --muted: 220 14.3% 95.9%; /* Muted */
    --muted-foreground: 220 8.9% 46.1%; /* Muted Foreground */

    --accent: 220 14.3% 95.9%; /* Accent */
    --accent-foreground: 248, 34%, 22%; /* Dark Primary */
    --destructive: 0 84.2% 60.2%; /* Destructive */
    --destructive-foreground: 210 20% 98%; /* White */
    --border: 248, 34%, 22%; /* Dark Primary (Adjusted Border) */
    --input: 248, 34%, 22%; /* Dark Primary (Adjusted Input) */
    --ring: 262.1 83.3% 57.8%; /* Ring */
    --chart-1: 248, 34%, 22%; /* Dark Primary (2A254B) */
    --chart-2: 248, 19%, 34%; /* Primary (4E4D93) */
    --chart-3: 252, 21%, 82%; /* Dark Border */
    --chart-4: 255, 35%, 93%; /* Border Gray (EBE8F4) */
    --chart-5: 241, 31%, 44%; /* 2nd Primary */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*

sm	450px	@media (min-width: 480px) { ... }
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }

*/
